extends  ../_skeleton

//- Includes
include ../components/_ui-posts
include ../components/_ui-pagination

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Grid blog 2'

block page 
	// Page Header
	+header-classic({})
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-elements'
	})
	
	// Grid blog
	section.section.section-xl.bg-default.text-md-left
		.container
			.row.row-50.justify-content-center
				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-4-49x49',
						author: 'Mary Lee',
						time: {datetime: '2021-05-17', dateText: 'May 17, 2021'},
						img: 'post-16-370x267',
						title: 'Benefits of ASync/Await: Asynchronous Programming'
					})
				
				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-5-49x49',
						author: 'Samuel Miller',
						time: {datetime: '2021-05-04', dateText: 'May 04, 2021'},
						img: 'post-17-370x267',
						title: 'Key Considerations and Warnings of iPaaS in Cloud Development'
					})
				
				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-6-49x49',
						author: 'Ann Anderson',
						time: {datetime: '2021-05-17', dateText: 'May 17, 2021'},
						img: 'post-18-370x267',
						title: 'tutorial: Usage of Hibernate Query Language (HQL)'
					})
				
				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-6-49x49',
						author: 'Ann Anderson',
						time: {datetime: '2021-05-17', dateText: 'May 17, 2021'},
						img: 'post-19-370x267',
						title: 'Startup Software Development and Product Strategy'
					})
				
				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-4-49x49',
						author: 'Mary Lee',
						time: {datetime: '2021-05-17', dateText: 'May 17, 2021'},
						img: 'post-20-370x267',
						title: 'Hybrid Cloud Management Software Solutions'
					})
				
				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-5-49x49',
						author: 'Samuel Miller',
						time: {datetime: '2021-05-04', dateText: 'May 04, 2021'},
						img: 'post-21-370x267',
						title: 'Creating Better Software Through Design Thinking'
					})
			
			.pagination-wrap
				+pagination-bootstrap(null, 1, 4)
	='\n'
	
	// Page Footer
	+footer-classic({})